
.confirm-payment--container {
  height: 100vh;
  flex-direction: column;
  justify-content: space-evenly;

  .confirm-payment--container__actions{
    flex-direction: column;
    align-items: center;
    margin-top: 2.75rem;

    .ant-btn {
      margin-left: .75rem;
    }
    .ant-input-input-wrapper {
      max-width: 235px;
    }
    .ant-result-subtitle {
      margin-top: 0.3rem;
    }


    .confirm-payment--container__actions--cta {
      margin-top: 1.3rem;
      justify-content: center;
      width: 100%;
    }
  }

  .ant-result-title {
    line-height: 27px;
  }
  .ant-result-subtitle {
    padding-top: 0.3rem;
    max-width: 400px;
  }
}
