<!DOCTYPE html>
<html lang="en" class="antialiased">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if (htmlWebpackPlugin.options.environment == "development") { %>
  <script src="http://localhost:8097"></script>
  <% } %>
  <title>Popup</title>
</head>

<body class="w-96">
  <div id="popup-root"></div>
</body>

</html>
