<!DOCTYPE html>
<html lang="en" class="antialiased">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Lightning</title>
  <meta property="og:site_name" content="Lightning Browser Extension" />
  <meta property="og:image:url" content="/assets/icons/satsymbol-128.png" />
</head>

<body class="w-96 bg-gray-50">
  <div id="popup-root"></div>
  <!-- TODO: load from package once the lib supports it -->
  <script src="/assets/js/html5-qrcode.min.js"></script>
</body>

</html>
