<!doctype html>
<html translate="no" lang="en" class="antialiased">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      type="image/png"
      href="assets/icons/alby_icon_yellow_32x32.png"
    />
    <title>Alby Extension</title>
  </head>

  <body
    class="w-96 max-w-full overflow-x-hidden h-[600px] no-scrollbar min-h-screen bg-gray-50 dark:bg-surface-00dp slashed-zero"
    style="scrollbar-width: auto"
  >
    <div id="popup-root" class="h-full"></div>
  </body>
</html>
