import Base from "./base";
import Connector, {
  SendPaymentArgs,
  SendPaymentResponse,
  GetInfoResponse,
  GetBalanceResponse,
  MakeInvoiceArgs,
  MakeInvoiceResponse,
  SignMessageArgs,
  SignMessageResponse,
  VerifyMessageArgs,
  VerifyMessageResponse,
} from "./connector.interface";

class ConnectorExample extends Base implements Connector {
  getInfo(): Promise<GetInfoResponse> {
    // Add your own implementation.
  }

  getBalance(): Promise<GetBalanceResponse> {
    // Add your own implementation.
  }

  sendPayment(args: SendPaymentArgs): Promise<SendPaymentResponse> {
    // Add your own implementation.
  }

  signMessage(args: SignMessageArgs): Promise<SignMessageResponse> {
    // Add your own implementation.
  }

  verifyMessage(args: VerifyMessageArgs): Promise<VerifyMessageResponse> {
    // Add your own implementation.
  }

  makeInvoice(args: MakeInvoiceArgs): Promise<MakeInvoiceResponse> {
    // Add your own implementation.
  }
}

export default ConnectorExample;
