name: E2E Tests

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize]

jobs:
  e2e-tests:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        env:
          PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: "true"
        with:
          node-version: "18"

      - run: yarn install --frozen-lockfile

      - name: Build chrome
        run: yarn build:chrome
        env:
          ALBY_OAUTH_CLIENT_ID: ${{ vars.ALBY_OAUTH_CLIENT_ID_CHROME }}
          ALBY_OAUTH_CLIENT_SECRET: ${{ vars.ALBY_OAUTH_CLIENT_SECRET_CHROME }}

      - name: Test Code
        uses: mujo-code/puppeteer-headful@v2
        env:
          CI: "true"
        with:
          args: npx playwright test

      - name: Artifact
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-artifcats
          path: |
            playwright-report/
            test-results/
          retention-days: 30
